@model List<AdViewInfo>
@{
    ViewData["Title"] = "Объявления по запросу";
}

<p><a asp-action="Searching" asp-controller="Home">Назад</a></p>
@if(Model.Count == 0)
{
    <p>Поиск по вашему запросу не дал результатов, измените параметры поиска</p>
}
else
{
    @foreach(var ad in Model)
    {
         
        <div style="border: 2px solid black; border-radius: 5px;">
            <a asp-action="Test" asp-controller="Home">
                <p><img src="@ad.ImagePath" width="200" height="200" /></p>
            <p style="font-weight:bold; font-size: 20px;">@ad.RoomsNum - комн. @ad.RealtyType.ToLower(),&nbsp;@(ad.Flour == null ? "этажей: "+ ad.TotalFlours.ToString() : "этаж: "+ad.Flour.ToString()+"/"+ad.TotalFlours.ToString())</p>
            </a>
            <p>Площадь: @ad.Square</p>
            <p>Цена: @ad.Price</p>
            <p>
                @if(ad.IsFavorite) 
                { 
                    <a style="cursor: pointer;font-size: 30px;" onclick="Liking(@ad.Id);" id="@("like" + ad.Id.ToString())">&#9829;</a>
                } 
                else 
                {
                    <a style="cursor: pointer;font-size: 30px;" onclick="Liking(@ad.Id);" id="@("like" + ad.Id.ToString())">&#9825;</a>
                }
            </p>
        </div>
    }
}