@model SearchingModel
@{
    ViewData["Title"] = "Поиск";
}

<form asp-action="AdShow" asp-controller="Home" method="post">
    <h1 class="display-1">Критерии поиска:</h1>
    <p>Вид недвижимости:</p>
    @foreach(var type in Model.RealtyTypes)
    {
        <p><input type="checkbox" name="ChosenTypes" value="@type.id" />@type.name</p>
    }
    <p><select name="Action">
        <option selected disabled>Действие</option>
        @foreach(var type in Model.AdTypes)
            {
                <option value="@type.id">@type.name</option>
            }
    </select></p>
    <p><select name="RoomsNum">
        <option selected disabled>Количество комнат</option>
        @for(int i = 1; i <= 10; i++)
            {
                <option value="@i">@i</option>
            }
        </select></p>
    <p><input type="text" name="Address" placeholder="Город, улица, дом" /></p>
    <p><input type="submit" value="Найти!" /></p>
</form>