@model List<AdViewInfo>
@{
    ViewData["Title"] = "Ваши объявления";
}

<p><a asp-action="UserLK" asp-controller="Home">Назад</a></p>
@if(Model.Count == 0)
{
    <p>У вас пока что нет объявлений</p>
}
else
{
    @foreach(var ad in Model)
    {
         
        <div style="border: 2px solid black; border-radius: 5px;">
            <a asp-action="Test" asp-controller="Home">
                <p><img src="@ad.ImagePath" width="200" height="200" /></p>
            <p style="font-weight:bold; font-size: 20px;">@ad.RoomsNum - комн. @ad.RealtyType.ToLower(),&nbsp;@(ad.Flour == null ? "этажей: "+ ad.TotalFlours.ToString() : "этаж: "+ad.Flour.ToString()+"/"+ad.TotalFlours.ToString())</p>
            </a>
            <p>Площадь: @ad.Square</p>
            <p>Цена: @ad.Price</p>
            <p>Просмотров: @ad.ViewsNum</p>
            <p><a href="#">Удалить</a></p>
        </div>
    }
}
